
html, body {
	width: 100%;
}

body { 
	background-color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
}

div {
	border: 1px transparent solid;
	overflow: hidden;
}
input {
	margin: 0;
	border: none;
}
input::-webkit-input-placeholder {
	font-size: 0.875em;
	color: darkblue;
}
input::-ms-input-placeholder {
	font-size: 0.875em;
	color: darkblue;
}
input::-moz-placeholder {
	font-size: 0.875em;
	color: darkblue;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}
.mainHeader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	border: 1px lightgray solid;
	background-color: white;
	z-index: 2;
}

#mainLogo {
	position: fixed;
	top: 0;
	left: 20px;
	width: 120px;
	height: 60px;
	box-sizing: border-box;
}


#userIdBox {
	position: absolute;
	right: 30px;
	width: 120px;
	height: 50px;
	text-align: center;
	line-height: 0.75em;
}

#userIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50%;
	width: 30%;
}

#userIdBox p {
	positon: absolute;
	top: 0;
	width: 100%;
	height: 30%;
	font-size: 0.75em;	
}

.userDropList {
	visibility: hidden;
	position: fixed;
	right: 0;
	top: 62px;
	width: 300px;
	height: 250px;
	background-color: white;
	box-shadow: -1px 1px 2px rgba(128,128,128,0.5);
}

.dropList ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.dropList ul li {
	margin: 0;
	padding: 0.5% 2%;
}

.dropList ul li:hover {
	background-color: coral;
	color: white;
}

a {
	text-decoration: none;
}


#userBox input {
	position: absolute;
	left: 4%;
	width: 84%;
	height: 12%;
	padding: 2% 3%;
	background-color: whitesmoke;
	border-left: 2px coral solid;
	/*border: 1px rgba(0,0,0,0.2) solid;*/
}

.dropDownInput1 {
	top: 10%;
}
.dropDownInput2 {
	top: 30%;
}
#userBox span {
	position: absolute;
	left: 5%;
	color: rgba(128,0,0,0.78);
	font-weight: bold;
	font-size: 0.75em;
}
#userBox .link1 {
	top: 70%;
}
#userBox .link2 {
	top: 80%;
}
#userBox .link2 a {
	color: coral;
}

.button1 {
	position: absolute;
	width: 90%;
	border: none;
	margin: 0;
}

#logInButton {
	top: 50%;
	left: 4%;
	height: 16%;
	background-color: coral;
	color: white;
	font-size: 1em;
}

#logInButton:hover {
	
}

.content {
	position: absolute;
	top: 120px;
	left: 15%;
	width: 70%;
	height: 800px;
}

.Box {
	position: absolute;
	top: 150px;
	height: 500px;
	width: 30%;
	border: 1px lightgray solid;
	box-shadow: -1px 1px 2px rgba(128,128,128,0.5);
	border-radius: 0% 0% 2% 2%;
}

.Box .footer {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	font-size: 0.875em;
	color: grey;
	text-align: left;
}

#Box1 {
	left: 19.5%;
}

#Box1 input {
	position: absolute;
	top: 24.5%;
	left: 10%;
	height: 10%;
	width: 76%;
	background-color: whitesmoke;
	border-left: 2px coral solid;
	font-size: 1em;
	text-align: left;
	padding: 0px 2%;
}
 #Box1 input::placeholder {
 /*font-size: 0.9em;
 color: grey;*/
}
.button2 {
	width: 60%;
	top: 60%;
	left: 30%;
	height: 20%;
	font-size: 1.5em;
	color: black;
	border: 1px solid;
	/*border-radius: 20px;*/
	background-color: transparent;
}
.button2:hover {
	box-shadow: 1px 1px 2px rgba(128,128,128,0.5), -1px -1px 2px rgba(128,128,128,0.5);
}

#Box1 button {
	color: white;
	background-color: cadetblue;
}


#Box2 {
	left: 50.5%;
}

#Box2 button {
	background-color: coral;
	color: white;
	
} 

#weightCat {
	position: absolute;
	top: 24.5%;
	left: 10%;
	width: 80%;
	height: 10%;
	border: 1px solid;
	font-size: 1em;
	line-height: 300%;
	color: grey;
	text-align: center;
}
.weightList {
	visibility: hidden;
	position: absolute;
	top: 35%;
	left: 10%;
	width: 80%;
	height: 88px;
	font-size: 1em;
	line-height: 163%;
	background-color: white;
	border: 1px lightgray solid;
	z-index: 2;
	text-align: center;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	border: 1px lightgray solid;
	border-bottom: 1px coral solid;
	border-right: 1px coral solid;
	color: coral;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
} 
.banner span {
	color: darkred;
	font-size: 0.75em;
}

.banner2 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	border: 1px lightgray solid;
	border-left: 1px coral solid;
	border-top: 1px coral solid;
	color: coral;
	font-style: italic;
	font-size: 0.875em;
	text-align: center;
} 
.banner2 span {
	color: darkred;
	font-size: 0.75em;
}

/* Sign Up page */
#signUpForm {
	position: absolute;
	top: 10%;
	left: 25%;
	height: 500px;
	width: 50%;
	text-align: center;
	padding: 20px 0px;
	border: none;
	box-shadow: none;
}
#signUpForm input {
	padding-left: 10px;
	text-align: left;
	width: 80%;
	height: 50px;
	margin: 20px 0px;
	background-color: transparent;
	border: 1px lightgray solid;
	border-left: 2px coral solid;
	font-size: 1em;
}

#signUpForm button {
	width: 40%;
	color: cadetblue;
	background-color: transparent;
	border: none;
	box-shadow: 1px 1px 2px rgba(128,128,128,0.5), -1px -1px 2px rgba(128,128,128,0.5);
}

@media only screen and (max-width: 1020px) {
	body {
		font-size: 12px;
	}
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}
	
	.content {
		top: 13%;
		left: 10%;
		width: 80%;
		height: 650px;
	}
	.banner {
		border: none;
	}
	.banner2 {
		
		border: none;
	}
	.Box{
		width: 99%;
		height: 250px;
		background-color: transparent;
		box-shadow: none;
	}
	.Box .footer {
		top: 5%;
	}
	#Box1{
		top: 70px;
		left: 0;
	}
	#Box1 input {
		top: 15%;
		height: 50px;
	}
	#Box2{
		top: 350px;
		left: 0;
		}
	#weightCat {
		top: 15%;
		border: 1px lightgray solid;
		height: 30px;
		line-height: 2.17em;
	}
	.dropList {
		height: 65px;
	}
	.weightList {
		top: 27.5%;
		left: 10%;
	}
	
	.button2 {
		top: 60%;
		left: 35%;
		width: 30%;
	}
	#signUpForm {
		width: 70%;
		left: 15%;
	}
	#signUpForm button {
		height: 50px;
	}
}


.listAnimeIn {
	visibility: visible;
	animation-name: listAnimeIn;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
 @keyframes listAnimeIn {
 0% {
 opacity: 0;
 height: 0;
}
 100% {
 opacity: 1;
 height: 1;
}
}
.listAnimeOut {
	visibility: hidden;
	animation-name: listAnimeOut;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
 @keyframes listAnimeOut {
 0% {
 visibility: visible;
 opacity: 1;
 height: 1;
}
 100% {
 opacity: 0;
		height: 0;
}
}
