
html, body {
	width: 100%;
}

body { 
	background-color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
}

div {
	border: 1px transparent solid;
	overflow: hidden;
}
input {
	margin: 0;
	border: none;
}
input::placeholder {
 font-size: 14px;
 color: lightgray;
}
input:focus {
	outline: none;
}

button:focus {
	outline: none;
}
.mainHeader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	border: 1px lightgray solid;
	background-color: white;
	z-index: 2;
}

#mainLogo {
	position: fixed;
	top: 0;
	left: 50px;
	width: 120px;
	height: 60px;
	box-sizing: border-box;
}

#menuIconBox {
	position: fixed;
	left: 15px;
	top: 20px;
	width: 20px;
	height: 20px;
}

#userIdBox {
	position: absolute;
	right: 30px;
	width: 120px;
	height: 50px;
	text-align: center;
	line-height: 12px;
}

#userIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50%;
	width: 30%;
}

#userIdBox p {
	positon: absolute;
	top: 0;
	width: 100%;
	height: 30%;
	font-size: 12px;	
}

.userDropList {
	visibility: hidden;
	position: fixed;
	right: 0;
	top: 62px;
	width: 300px;
	height: 400px;
	background-color: white;
}
.menuDropList {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 62px;
	width: 19%;
	height: 105px;
	color: darkred;
	font-size: 16px;
	line-height: 24px;
	background-color: white;
}
.dropList ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.dropList ul li {
	margin: 0;
	padding: 0.5% 2%;
	border-bottom: 1px rgba(255,255,255,0.5) solid;
}
.dropList ul:last-child li:nth-child(3) {
	border: none;
}
.dropList ul li:hover {
	background-color: coral;
	color: white;
}

a {
	text-decoration: none;
}
.dropList a {
	color: darkred;
}
.dropList a:active {
	text-decoration: none;
	color: orange;
}

#userBox input {
	position: absolute;
	left: 4%;
	width: 84%;
	height: 8%;
	padding: 2% 3%;
	background-color: transparent;
	border: 1px rgba(0,0,0,0.2) solid;
}

.dropDownInput1 {
	top: 10%;
}
.dropDownInput2 {
	top: 25%;
}
#userBox span {
	position: absolute;
	left: 5%;
	color: rgba(128,0,0,0.78);
	font-weight: bold;
	font-size: 0.75em;
}
#userBox .link1 {
	top: 55%;
}
#userBox .link2 {
	top: 65%;
}
#userBox .link2 a {
	color: coral;
}

.button1 {
	position: absolute;
	width: 90%;
	border: none;
	margin: 0;
}

#logInButton {
	top: 40%;
	left: 4%;
	height: 10%;
	background-color: forestgreen;
	color: white;
	font-size: 16px;
}

#logInButton:hover {
	outline: 1px black solid;
}

.content {
	position: absolute;
	top: 150px;
	left: 20%;
	border: 1px lightgray solid;
	width: 60%;
	height: 700px;
}

.Box {
	position: absolute;
	top: 150px;
	height: 400px;
	width: 30%;
	border-bottom: 1px lightgray solid;
	border-top: 1px lightgray solid;
}

.Box .footer {
	position: absolute;
	top: 80%;
	width: 100%;
	height: 20%;
	font-size: 14px;
	color: grey;
	text-align: center;
}

#Box1 {
	left: 19.5%;
}

#Box1 input {
	position: absolute;
	top: 24.5%;
	left: 5%;
	height: 5%;
	width: 90%;
	background-color: transparent;
	border-bottom: 1px gray solid;
	font-size: 16px;
	text-align: center;
}
 #Box1 input::placeholder {
 font-size: 0.9em;
 color: grey;
}
.button2 {
	width: 60%;
	top: 60%;
	left: 20%;
	height: 10%;
	font-size: 20px;
	color: black;
	border-radius: 20px;
}


#Box1 button {
	background-color: transparent;
	color: darkred;
}

#Box1 button:hover {
	border: 1px darkred solid;
}

#Box2 {
	left: 50.5%;
}

#Box2 button {
	background-color: transparent;
	color: coral;
	
} 
#Box2 button:hover {
	border: 1px coral solid;
}

#weightCat {
	position: absolute;
	top: 25%;
	left: 5%;
	width: 90%;
	height: 5%;
	border-bottom: 1px solid;
	line-height: 12px;
	color: grey;
	text-align: center;
}
.weightList {
	visibility: hidden;
	position: absolute;
	top: 30.5%;
	left: 5%;
	width: 90%;
	height: 80px;
	font-size: 14px;
	line-height: 22px;
	background-color: white;
	border: 1px lightgray solid;
	z-index: 2;
	text-align: center;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	border-bottom: 1px coral solid;
	border-right: 1px coral solid;
	color: coral;
	font-style: italic;
	font-size: 20px;
	text-align: center;
} 
.banner span {
	color: darkred;
	font-size: 30px;
}

.banner2 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	border-left: 1px coral solid;
	border-top: 1px coral solid;
	color: coral;
	font-style: italic;
	font-size: 12px;
	text-align: center;
} 
.banner2 span {
	color: darkred;
	font-size: 20px;
}

/* Sign Up page */
#signUpForm {
	position: absolute;
	top: 20%;
	left: 35%;
	height: 400px;
	width: 30%;
	text-align: center;
	border: none;
}
#signUpForm input {
	padding-left: 10px;
	text-align: left;
	width: 80%;
	height: 50px;
	margin: 10px 0px;
	background-color: transparent;
	border: 1px lightgray solid;
	font-size: 16px;
}

#signUpForm button {
	top: 90%;
	width: 40%;
	color: darkblue;
	background-color: transparent;
	border: none;
}

#signUpForm button:hover {
	border: 1px darkblue solid; 
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}
	input::placeholder {
		font-size: 12px;
	}
	.content {
		top: 13%;
		left: 10%;
		width: 80%;
		height: 620px;
	}
	.banner {
		font-size: 18px;
		border: none;
	}
	.banner2 {
		font-size: 12px;
		line-height: 12px;
		border: none;
	}
	.Box{
		width: 100%;
		height: 250px;
		background-color: transparent;
	}
	.Box .footer {
		font-size: 12px;
	}
	#Box1{
		top: 70px;
		left: 0;
	}
	#Box1 input {
		top: 10%;
		font-size: 16px;
		height: 50px;
		border: 1px lightgray solid;
	}
	#Box2{
		top: 321px;
		left: 0;
		}
	#weightCat {
		top: 10%;
		border: 1px lightgray solid;
		height: 30px;
		font-size: 16px;
		line-height: 26px;
	}
	.weightList {
		top: 56px;
		left: 15%;
	}
	.dropList {
		border: 1px lightgray solid;
		width: 200px;
		height: 90px;
	}
	.userDropList {
		border: 1px lightgray solid;
		height: 300px;
	}
	.button2 {
		font-size: 14px;
		top: 50%;
		left: 35%;
		width: 30%;
	}
	#signUpForm {
		width: 70%;
		left: 15%;
	}
}


.listAnimeIn {
	visibility: visible;
	animation-name: listAnimeIn;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
 @keyframes listAnimeIn {
 0% {
 opacity: 0;
 height: 0;
}
 100% {
 opacity: 1;
 height: 1;
}
}
.listAnimeOut {
	visibility: hidden;
	animation-name: listAnimeOut;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
 @keyframes listAnimeOut {
 0% {
 visibility: visible;
 opacity: 1;
 height: 1;
}
 100% {
 opacity: 0;
		height: 0;
}
}
